article {
  display: flex;
}

#demo-contents {
  flex-grow: 2;
}

header {
  font-family: sans-serif;
  border-bottom: 1px solid #444;
}

header > div {
  padding: 5px;
  display: flex;
}

header h1 {
  font-size: 18px;
  flex-grow: 1;
  margin: 0;
  font-weight: normal;
}

#custom-config-toggle {
  color: white;
  align-self: end;
  text-decoration: none;
}

#custom-config-toggle:hover {
  text-decoration: underline;
}

#custom-config {
  flex-grow: 1;
  flex-direction: column;
  padding: 5px;
  height: 100%;
}

#custom-config textarea {
  background: black;
  border: 1px solid #444;
  min-height: 400px;
  color: white;
  width: calc(100% - 10px);
  resize: vertical;
}

.custom-config-bubble {
  color: #1f75fe;
}
